<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>flaxStart_000000</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{219,51}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{217,49}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>flaxVersion</key>
      <real>2.3</real>
      <key>fps</key>
      <integer>24</integer>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>flaxStart.png</string>
      <key>size</key>
      <string>{219,64}</string>
      <key>textureFileName</key>
      <string>flaxStart.png</string>
    </dict>
    <key>displays</key>
    <dict>
      <key>playGameBtn</key>
      <dict>
        <key>type</key>
        <string>button</string>
        <key>anchorX</key>
        <real>0.50000</real>
        <key>anchorY</key>
        <real>0.50000</real>
        <key>start</key>
        <integer>0</integer>
        <key>end</key>
        <integer>0</integer>
      </dict>
      <key>asset2</key>
      <dict>
        <key>type</key>
        <string>jpg</string>
        <key>anchorX</key>
        <real>0.00000</real>
        <key>anchorY</key>
        <real>1.00000</real>
        <key>url</key>
        <string>flaxStart.asset2.jpg</string>
      </dict>
    </dict>
    <key>mcs</key>
    <dict>
      <key>StartView</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>totalFrames</key>
        <integer>1</integer>
        <key>rect</key>
        <string>0,0,644.70,963.35</string>
        <key>anchorX</key>
        <real>0.00729</real>
        <key>anchorY</key>
        <real>0.00348</real>
        <key>children</key>
        <dict>
          <key>playGameBtn</key>
          <dict>
            <key>class</key>
            <string>playGameBtn</string>
            <key>zIndex</key>
            <integer>1</integer>
            <key>frames</key>
            <string>331.85,182.20,0.00,1.00000,1.00000,1.00,1,0.00,0.00</string>
          </dict>
          <key>instance821</key>
          <dict>
            <key>class</key>
            <string>asset2</string>
            <key>zIndex</key>
            <integer>0</integer>
            <key>frames</key>
            <string>4.70,963.35,0.00,0.99998,1.00000,1.00,0,0.00,0.00</string>
          </dict>
        </dict>
      </dict>
    </dict>
  </dict>
</plist>