<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>touchpass.png</key>
            <dict>
                <key>frame</key>
                <string>{{56,2},{126,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,22}}</string>
                <key>sourceSize</key>
                <string>{126,22}</string>
            </dict>
            <key>uifont_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{56,313},{24,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,31}}</string>
                <key>sourceSize</key>
                <string>{24,31}</string>
            </dict>
            <key>uifont_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{89,321},{17,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,30}}</string>
                <key>sourceSize</key>
                <string>{17,30}</string>
            </dict>
            <key>uifont_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{56,287},{24,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,31}}</string>
                <key>sourceSize</key>
                <string>{24,31}</string>
            </dict>
            <key>uifont_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{56,339},{23,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,31}}</string>
                <key>sourceSize</key>
                <string>{23,31}</string>
            </dict>
            <key>uifont_Draw.png</key>
            <dict>
                <key>frame</key>
                <string>{{56,130},{77,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,31}}</string>
                <key>sourceSize</key>
                <string>{77,31}</string>
            </dict>
            <key>uifont_Go.png</key>
            <dict>
                <key>frame</key>
                <string>{{56,209},{76,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,31}}</string>
                <key>sourceSize</key>
                <string>{76,31}</string>
            </dict>
            <key>uifont_Level.png</key>
            <dict>
                <key>frame</key>
                <string>{{89,95},{76,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,30}}</string>
                <key>sourceSize</key>
                <string>{76,30}</string>
            </dict>
            <key>uifont_Lose.png</key>
            <dict>
                <key>frame</key>
                <string>{{89,248},{71,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,30}}</string>
                <key>sourceSize</key>
                <string>{71,30}</string>
            </dict>
            <key>uifont_Ready.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,2},{91,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,37}}</string>
                <key>sourceSize</key>
                <string>{91,37}</string>
            </dict>
            <key>uifont_Win.png</key>
            <dict>
                <key>frame</key>
                <string>{{89,173},{73,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,30}}</string>
                <key>sourceSize</key>
                <string>{73,30}</string>
            </dict>
            <key>uifont_menu_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,198},{194,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{194,52}}</string>
                <key>sourceSize</key>
                <string>{194,52}</string>
            </dict>
            <key>uifont_menu_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{194,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{194,52}}</string>
                <key>sourceSize</key>
                <string>{194,52}</string>
            </dict>
            <key>uifont_uiHeart.png</key>
            <dict>
                <key>frame</key>
                <string>{{54,394},{50,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,44}}</string>
                <key>sourceSize</key>
                <string>{50,44}</string>
            </dict>
            <key>uifont_uiHeartbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,394},{50,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,44}}</string>
                <key>sourceSize</key>
                <string>{50,44}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>miniuifont.png</string>
            <key>size</key>
            <string>{121,440}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:19a368bd9fb9e5750fe68f47d6840181:1/1$</string>
            <key>textureFileName</key>
            <string>miniuifont.png</string>
        </dict>
    </dict>
</plist>
